<% provide(:title, @user.name) %>
<div class="main_div" >
<h1 class="main_div_h1"><%= image_tag @user.gravatar_url %>
 <%= link_to @user.name, edit_user_path %>さんのページ</h1>
<%= link_to "プロフィール更新", edit_user_path, class:"mini_button" %>
<%# <%= link_to "プロフィール削除", user_path(@user),data: {
                                                turbo_method: :delete,
                                                turbo_confirm: "Are you sure?"}, class:"mini_button" %>
</div>
<div class="main_div">
  <% if @user.microposts.any? %>
    <h3>投稿数(<%= @user.microposts.count %>)</h3>
    <ol class="main_div_microposts">
      <%= render @microposts %>
    </ol>
  <% end %>
   <%= paginate @microposts %>
</div>
