<footer class="footer" >
  <div class="footer-nav" >
    <h4>こんなページもあるよ！</h4>
    <ul>
      <li><%= link_to "practice", practice_path %></li>
      <li><%= link_to "play", play_path %></li>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "ホームへ戻る", root_url %></li>
    </ul>
  </div>
  <div class="footer-nav" >
    <h4>作成中</h4>
    <ul>
      <li><%= link_to "omikuji", "#" %></li>
      <li><%= link_to "calendar", "#" %></li>
      <li><%= link_to "利用規約作成中", "#" %></li>
    </ul>
  </div>
  <div class="footer-nav" >
    <h4>SNSとリンク</h4>
    <ul>
      <li><%= link_to "https://ja-jp.facebook.com",target: :_blank, rel: "noopener noreferrer" do %>
            <i class="fab fa-facebook-square"></i>
            <span class="footer-nav-link">Facebookへ</span>
            <% end %></li>
        <li><%= link_to "https://twitter.com/notifications",target: :_blank, rel: "noopener noreferrer" do %>
            <i class="fab fa-twitter-square"></i>
            <span class="footer-nav-link">Twitterへ</span>
            <% end %></li>
        <li><%= link_to "http://www.google.co.jp",target: :_blank, rel: "noopener noreferrer" do %>
            <i class="fab fa-google"></i>
            <span class="footer-nav-link">Googleへ</span>
            <% end %></li>
         <li><%= link_to "https://railstutorial.jp/",target: :_blank, rel: "noopener noreferrer" do %>
            <%= image_tag("rails.png", alt:"logo", width:"20")%>
            <span class="footer-nav-link">Rails tutorialへ</span>
            <% end %></li>
    </ul>
  </div>
</footer >
