<footer class="footer" >
  <div class="footer-nav" >
    <h4>作成中</h4>
    <ul>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
    </ul>
  </div>
  <div class="footer-nav" >
    <h4>利用規約</h4>
    <ul>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
    </ul>
  </div>
  <div class="footer-nav" >
    <h4>SNSとリンク</h4>
    <ul>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
    </ul>
  </div>
</footer >
