<footer class="footer" >
  <div class="footer-nav" >
    <h4>こんなページもあるよ！</h4>
    <ul>
      <li><%= link_to "practice", practice_path %></li>
      <li><%= link_to "play", play_path %></li>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "ホームへ戻る", root_url %></li>
    </ul>
  </div>
  <div class="footer-nav" >
    <h4>利用規約</h4>
    <ul>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
    </ul>
  </div>
  <div class="footer-nav" >
    <h4>SNSとリンク</h4>
    <ul>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
    </ul>
  </div>
</footer >
